<!DOCTYPE html>
<html>
    <head>
    <title>
    Answers
    </title>
    <script src="../js/jquery.min.js"></script>
    </head>
    <body>

    <div id="login_form" style="float:left">
    <h1>
    Welcome to Find Answers
    </h1>
	<form name="mfaLogin" data-redirect="on">
  	<fieldset>
    <label for="username" >Username:</label>
    <input type="text" name="username" id="username_login"/>
    <br>
    <label for="password" >Password:</label>
    <input type="text" name="password" id="password_login"/>
    <br>
    <input type="submit" name="submit" class="login_button" id="submit_btn" value="Log In" />
  	</fieldset>
	</form>
	</div>

    </body>
</html>