<!DOCTYPE html>
<html>
    <head>
    <title>
    Answers
    </title>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>

    <div id="login_form">

    <h1 class = "title_line">
	What do you want to know?
    </h1>
    
    
    <div id="search_form">
            <form method = "POST" action = "/search">
                <input type="text" name = "query1" id = "query1" class="tags" value = ""/>
                <a>
                    <input type = "submit" class="styled-button" value = "Search"/>
                </a>
                <a>
                    <input type = "submit" class="styled-button" value = "Feeling Lucky"/>
                </a>
            </form>

        </div>
	</div>

    <a href="/company" class = "login_hyperlink">Company Login Page</a>

    </body>
</html>