<!DOCTYPE html>
<html>
    <head>
    <title>
    Answers
    </title>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>
    
    <div id="results">

    <h1 class = "title_line">
    Create a new Question
    </h1>
    </div>
    
    <h2>
    <form name="question_form" data-redirect="on">
    <label for="username" >Enter your question: </label><input type="text" name="question" id="question" class = "question"/>
    <input type="submit" name="submit" id="submit_btn" value="Submit" />
    </h2>



    <a href="/" class = "login_hyperlink">Back</a>

    </body>
</html>