<!DOCTYPE html>
<html>
    <head>
    <title>
    Answers
    </title>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>
    
    <div id="results">

    <h1 class = "title_line2">
    What is the best cloud storage service?
    </h1>
    
    <h2 class = "answer_suggestion">
    Dropbox is the most prevalent cloud storage solution. Other competitors include Google Drive, Microsoft OneDrive, Box, iCloud, Spideroak, etc.
    </h2>

    <h3>
        <table width="500" border="0" cellpadding="5">

        <tr>

        <td align="center" valign="center">
        <img src="/img/businesses/dropbox.png" height = "200px" alt="description here" />
        <br />
        <a href = "https://www.dropbox.com/">
        Dropbox
        </td>

        <td align="center" valign="center">
        <img src="/img/businesses/google_drive.jpg" height = "200px" alt="description here" />
        <br />
        <a href = "https://www.google.com/drive/">
        Google Drive
        </td>

        <td align="center" valign="center">
        <img src="/img/businesses/onedrive.jpg" height = "200px" alt="description here" />
        <br />
        <a href = "https://onedrive.live.com/about/en-us/">
        Microsoft Onedrive
        </td>
        </tr>

        </table>

    </h3>
    

    </div>

    <a href="/" class = "login_hyperlink">Back</a>

    </body>
</html>