<!DOCTYPE html>
<html>
    <head>
    <title>
    Answers
    </title>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>
    
    <div id="results">

    <h1 class = "title_line">
    Did You Mean
    </h1>
    
    <h2>
    <a href = "/results" class = "answer_suggestion">
    What is the best cloud storage service? </a>
    <br>
    <br>
    <a href = "/results" class = "answer_suggestion">
    How to use Dropbox? </a>
    <br>
    <br>
    <a href = "/results" class = "answer_suggestion">
    How to transfer files between computers? </a>
    </h2>
    

    </div>
    <div>
        <a href = "/new" class = "new_question">
        This is not what I am looking for. Submit question for review. </a>
    </div>

    <a href="/" class = "login_hyperlink">Back</a>

    </body>
</html>