<div class='searchbox-container' id='searchbox-container' style="display:none">
	<ul id="myTab" class="nav nav-tabs controls" role="tablist">
      <li role="presentation" class="active"><a href="#agony" onclick="setDisplayCategory('Agony')" id="home-tab" role="tab" data-toggle="tab" aria-controls="agony" aria-expanded="true">Agony</a></li>
      <li role="presentation" class=""><a href="#price" onclick="setDisplayCategory('Price')" role="tab" id="price-tab" data-toggle="tab" aria-controls="price" aria-expanded="false">Price</a></li>
      <li role="presentation" class=""><a href="#time" onclick="setDisplayCategory('Time')" role="tab" id="time-tab" data-toggle="tab" aria-controls="time" aria-expanded="false">Time</a></li>
    </ul>
    <div id='myTabContent' class='tab-content'>
    	<div role="tabpanel" class="tab-pane fade in active" id="agony" aria-labelledby="agony-tab">     	
      	</div>
      	<div role="tabpanel" class="tab-pane fade in" id="price" aria-labelledby="price-tab">
      	</div>
      	<div role="tabpanel" class="tab-pane fade in" id="time" aria-labelledby="time-tab">
      	</div>
    </div>
</div>





